<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<link rel='preconnect' href='https://fonts.gstatic.com' />
		<link
			href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,100&display=swap'
			rel='stylesheet'
		/>
		<link
			href='https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap'
			rel='stylesheet'
		/>
		<script src='https://kit.fontawesome.com/a00fbb8764.js' crossorigin='anonymous'></script>
		<link rel='stylesheet' href='styles/main.css' />
		<link rel='stylesheet' href='styles/blog.css' />
		<title>Ojeelafriend</title>
	</head>
	<body>
		<header>

			<div class='logotype-header'><a href='/'>{O}Dev</a></div>
			<div class='others-header'>
				<a href='/blog'>Bitacora</a>
				<a href='/about'>Sobre mi</a>
				<a href='/portfolio'>Resumen</a>
			</div>
		</header>
		<main>

			{{{body}}}

		</main>
		{{! <footer>
			<div>
				<a href='#'>Ojeelafriend :)</a>
				<h4>frase motivadora</h4>
			</div>
		</footer> }}
	</body>
	<script src='js/events.js'></script>
</html>