<div class='blog-container'>
	<div class='card-post'>
		<div class='card-box'>
			<div class='card-header'>
				<h2>Hi, my name is Alejo</h2>
				<p class='date-post' id='date-post'>00/00/0000</p>
			</div>
			<div class='card-body'>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur et perferendis
					omnis qui expedita hic, laudantium distinctio eum placeat incidunt saepe veritatis
					corp. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum cum quo deserunt
					at aliquid, modi neque sint soluta earum repellat!. Lorem ipsum dolor, sit amet
					consectetur adipisicing elit. Placeat voluptates quos quidem? Iusto mollitia omnis ad
					cupiditate quae, numquam velit, labore perferendis ipsa sint quasi. Assumenda laborum
					illum exercitationem distinctio, nobis facere? Porro sit iste molestias facere possimus
					harum maiores laudantium sapiente nemo! Qui velit debitis laboriosam officiis aperiam
					sit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore blanditiis cum
					distinctio provident mollitia optio ea, vel, voluptas beatae totam architecto! Neque,
					natus doloribus in magni reprehenderit nisi quisquam, minima consequuntur suscipit id
					nulla distinctio consequatur, mollitia ullam sapiente nemo sint dicta veniam accusamus
					aspernatur enim. Harum ab quo delectus.Qui velit debitis laboriosam officiis aperiam
					sit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore blanditiis cum
					distinctio provident mollitia optio ea, vel, voluptas beatae totam architecto! Neque,
					natus doloribus in magni reprehenderit nisi quisquam, minima consequuntur suscipit id
					nulla distinctio consequatur, mollitia ullam sapiente nemo sint dicta veniam accusamus
					aspernatur enim. Harum ab quo delectus.
				</p>
				<h6>ipsum dolor sit amet, consectetur adipisicing elit. Eius, ullam?</h6>
				<a href='#' class='see-more'><i class='fa fa-coffee' aria-hidden='true'></i><h6>See More</h6>
			</div>
		</div>
	</div>
	<div class="card-next">
		<div class="next-box">
			<div>
				<label for="#">Back content</label>
				<i class="fas fa-chevron-left"></i>
			</div>
			<div>
				<label for="#">Next content</label>
				<i class="fas fa-chevron-right"></i>
			</div>
		</div>
	</div>
</div>